body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightgrey;
    border-bottom: 1px solid #dee2e6;
}

.nasc-logo {
    height: 60px;
}

.request {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.request:hover{
    text-decoration: underline;
}
/* Header End */

/* Form Starts */
.form-cont{
    width: 90%;
    margin: 30px auto 0px auto;
}

form> h1{
    text-align: center;
}

form > label{
    margin: 0px 0px 0px 25%;
    font-size: 1em;
}

form > .input{
    margin:6px 0px 0px 25% ;
    width: 50%;
    font-size: 18px;
    padding: 2px;
}

form> textarea{
    resize: none;
}

form > p{
    font-size: 13px;
    margin: 0px 0px 0px 25%;
    width: 70%;
}

#submit{
    margin: 20px auto;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border:1px solid black ;
    cursor: pointer;
    font-size: 16px;
    background-color: lightgray;

}

#submit:hover{
    text-decoration: underline;
}
/* Form Ends */

/* Loading starts */
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

#loading p {
    margin: 0;
}
/* Loading Ends */